# Игнорировать папку с зависимостями npm
node_modules/

# Игнорировать файл переменных окружения
.env

# Игнорировать логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорировать настройки редактора (если используете VS Code)
.vscode/
